<%- include('../partials/header.ejs') %>

<main class="container my-5">
    <h2>Welcome, <%= user.firstName %></h2>

    <% if (mangas.length) { %>
        <p>You are selling the following mangas:</p>
        <div class="table-responsive" style="max-width: 1000px;">
            <table class="table table-dark table-bordered align-middle text-center">
                <thead class="table-light text-dark">
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% mangas.forEach(manga => { %>
                        <tr>
                            <td class="text-start">
                                <a href="/mangas/<%= manga.id %>" class="text-white text-decoration-none"><%= manga.title %></a>
                            </td>
                            <td><%= manga.active ? 'Active' : 'Inactive' %></td>
                            <td>
                                <form class="d-inline">
                                    <button type="submit" class="btn btn-sm btn-primary me-2" formmethod="GET" formaction="/mangas/<%= manga.id %>/edit" title="Edit">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </form>
                                <form class="d-inline">
                                    <button type="submit" class="btn btn-sm btn-danger me-2" formmethod="POST" formaction="/mangas/<%= manga.id %>?_method=DELETE" title="Delete">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                                <form class="d-inline">
                                    <button type="submit" class="btn btn-sm btn-warning"
                                        formmethod="GET" formaction="/mangas/<%= manga.id %>/offers"
                                        <% if (manga.totalOffers === 0) { %> disabled <% } %>>
                                        View Offers
                                    </button>
                                </form>
                            </td>                            
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    <% } else { %>
        <p>You are not selling any mangas.</p>
    <% } %>
</main>

<%- include('../partials/footer.ejs') %>
